.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px;
  }
  
  .maskedText {
    font-size: 20em;
    letter-spacing: 2px;
    font-weight: bold;
    background: url('../../../public/images/intro3.webp') no-repeat center;
    background-size: cover;
    -webkit-background-clip: text;
    color: transparent;
    /* For supporting older browsers */
    background-clip: text;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  